@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
  box-sizing: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto";

}


.NavBar{
  background-color: #0C2D48;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;

}

:any-link, li, button{
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.NavBarLogo{
  height: 50px;
  cursor:pointer;
}

.NavBarList li{
  display: inline-block;
  padding: 0px 20px;
}

footer{
  background-color: #0C2D48;
  color:white;
  padding:20px;
  text-align: center;
  position:fixed;
  width: 100%;
  bottom:0;
}
/*================================================================================================================*/
.BooksContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  

}
.MarkButton{
  background-color: #0C2D48;
  text-decoration: none;
  color:gold;
  padding: 10px;
  
}
.MarkButton:hover{
  transition:1s;
  background-color: #145DA0;
  color:gold;
  
}
  
.BookItem{
  padding: 20px;
  margin:20px;
  flex:1;
  background-color: #145DA0;
  
  text-align: center;
  border-radius: 9px;
  min-width: 300px;
  max-width: 400px;
  
}
u{
  border: 1px white solid;
  padding: 10px;
}

/*================================================================================================================*/